body {
background-color: #eef1c0;
font-size: 16pt;
margin-left: 30px;
}
h1 {
margin-left: 100px;
color: #4d1a0a;
}
h2 {
margin-left: 30px;
color: #5b39f1;
text-align: center;
}
ol {
font-style: italic;
font-size: 1.2em;
}

p{
font-style: italic;
color: #041052;
font-size: 70%;
}
h3{
color: #0b582e;
}
h4{
font-size: 70%
}
tr{
vertical-align: top;
text-indent: 0.5cm;
font-size: 1.2em;
}